{% extends "main/base.html" %}
{% block title %}All Table{% endblock %}

{% block content %}
<h1>All Table We Have Now</h1>
<form method="post" action="#">
	{% csrf_token %}
	<u1>
		{% for item in t %}
		<li><input type="checkbox" ,value="clicked" , name="c{{item.id}}">{{item}}
		</li>
		{% endfor %}
	</u1>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<input type="text" , name="new">
			<button type="submit" , name="createtable" , value="createtable" , class="btn btn-success">Add
				Table</button>
		</div>
	</div>
	<button type="submit" , name="delete" , value="delete" , class="btn btn-danger">delete</button>

</form>
{% endblock %}