{% extends "main/base.html" %}
{% block title %}杏嗜淡淡{% endblock %}
{% block content %}
<!DOCTYPE html>
<style type="text/css">
	html,
	.title {
		display: inline-block;
		padding-top: .3125rem;
		padding-bottom: .3125rem;
		margin-right: 1rem;
		font-size: 1.25rem;
		line-height: inherit;
		white-space: nowrap;
	}

	em {
		font-style: italic;
	}

	strong,
	b {
		font-weight: 700;
		font-weight: bolder;
	}

	.intro {
		color: #865e19;
		font-size: 20px;
	}
</style>

<div id="top" class="title">
	<div class="container">
		<a class="title" href="/">杏嗜淡淡線上訂購表單</a>
		<div class="intro">
			<p>
				Hello，謝謝你們訂購杏仁爆片！
				<br>
				麻煩詳閱完再幫我們填寫以下表單🥰
				<br>
				<br>
				<strong><em>|商品介紹|</em></strong>
				<br>
				減糖無負擔 扎實好口感
				<br>
				刷嘴撲鼻香 脆口天然ㄆㄤ
				<br>
				杏嗜淡淡小老闆幫各位計算好每一片平均的熱量~
				<br>
				相比一塊鳳梨酥約200大卡，杏仁爆片每一片熱量約40大卡
				<br>
				杏仁片富含蛋白質和膳食纖維，是好的堅果油質
				<br>
				我們的用料都非常紮實和天然
				<br>
				小老闆的家人也超愛吃的啦~敬請放心食用
				<br>
				<br>
				<strong><em>|目前品項|</em></strong>
				<br>
				🍪原味爆片/輕巧型約110g +-5g 巨無霸級約180g +-5g左右
				<br>
				🍪可可爆片/輕巧型約110g +-5g 巨無霸級約180g +-5g 左右
				<br>
				<em>小老闆絕對裝到不能再滿為止&lt;&gt;</em>
				<br>
				<br>
				<strong><em>|訂購須知|</em></strong>
				<br>
				🔎杏仁爆片都是手作限量供應<br>🔎下單後會儘快幫大家出貨<br>🔎最佳賞味期為2個禮拜內
				<br>🔎放冰箱的話可以放更久也更好吃唷<br>🔎寄送過程難免碰撞，我們會盡可能包裝牢固哦！
				<br>
				<strong><em>|付款方式|</em></strong>
				<br>
				💳目前僅接受匯款方式
				<strong><em>|取貨方式|</em></strong>
				<br>
				📍面交：新北(樹林、板橋、泰山、新莊)
				<br>
				📍超商店到店
				<br>
				📍黑貓宅急便(訂購超過15罐以上建議選此方案)
				<br>
			</p>
		</div>
	</div>
</div>
杏嗜淡淡
{% endblock %}